{
  "extends": ["prettier", "react-app"],
  "plugins": ["prettier", "simple-import-sort"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-default-export": "error",
    "sort-imports": "off",
    "import/order": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^rea", "^@?\\w"],
          ["^features"],
          ["components", "^libs", "api"],
          ["^[^.]"],
          ["^\\."],
          ["ui"],
          ["assets"],
          ["css$"]
        ]
      }
    ],
    "import/no-duplicates": "error",
    "no-console": ["error", { "allow": ["warn"] }]
  }
}
