.mainPat1 {
  position: relative;
  width: 1600px;
  height: 357px;
  //background-image: url('/assets/images/backgroundPart1.png');
  background-position-y: -78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 357px;
    background: linear-gradient(
      90deg,
      #ffffff 0.34%,
      rgba(255, 255, 255, 0) 68.84%
    );
    background-color: red;
    content: '';
  }
}
.mainPat1Text {
  position: absolute;
  top: 83px;
  left: 204px;
  width: 404px;
  height: 153px;
  font-size: 27px;
  font-family: $futuraBold;
  font-style: normal;
  line-height: 40px;
}
.info {
  position: absolute;
  top: 219px;
  left: 204px;
  display: flex;
  flex-direction: column;
  text-align: center;
  div:nth-child(1) {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    line-height: 148.96%;
  }
  div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    color: #000000;

    font-size: 27px;
    font-family: $futuraBold;
    font-style: normal;
    line-height: 40px;
  }
  button {
    width: 199.92px;
    height: 34.05px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 148.96%;
    background: #ff6600;
    border: none;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
}
.step {
  display: flex;
  justify-content: space-between;
}
.stepTitle {
  margin-bottom: 55px;
  color: #333333;

  font-size: 27px;
  font-family: $futuraBold;
  font-style: normal;
  line-height: 148.96%;
}
.listItem {
  display: flex;
}
.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  margin-right: 22px;
  background-color: #f9f9f9;
  border-radius: 50%;
}
.parasite {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #333333;
  font-size: 20px;

  line-height: 148.96%;
  background-color: #f9f9f9;
  border-radius: 50%;
}
.operator {
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  span:nth-child(1) {
    width: 400px;
    color: #333333;

    font-size: 20px;
    font-family: $futuraBold;
    font-style: normal;
    line-height: 148.96%;
  }
  span:nth-child(2) {
    width: 315px;
    color: #2e2e2e;
    font-size: 15px;
    line-height: 148.96%;
  }
}
.swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 9.5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 80%;
  background: #a7a7a7;
  border-radius: 50%;
  cursor: pointer;
  & > div {
    width: 25px;
    margin-top: 5px;
    border: 0.7px solid rgb(255, 255, 255);
  }
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #333333;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
