.pagination {
  margin-top: 3rem;
}
.icon {
  margin: 0 0.5rem;
}
.item {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.2s;
  &.active,
  &:hover {
    background-color: #f9f9f9;
    opacity: 1;
  }
}
