.colorPicker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid #b5b5b5;
  cursor: pointer;
}
.colorOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.colorBox {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.colorBoxWrap {
  display: flex;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.saturation {
  position: relative;
  width: 17rem;
  height: 17rem;
  border: 1px solid #f7f7f7;
}
.hue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 14.2rem;
  border: 1px solid #f7f7f7;
}
.huePoint {
  width: 2rem;
  &:before,
  &:after {
    transform: translate(0, -50%);
  }
  &:before {
    position: absolute;
    right: calc(100% + 0.1rem);
    display: block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid #666666;
    content: '';
  }
  &:after {
    position: absolute;
    left: calc(100% + 0.1rem);
    display: block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #666666;
    border-bottom: 0.5rem solid transparent;
    content: '';
  }
}
