.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  background-color: #cdcdcd;
  background-position: center;
  background-size: cover;
}
.noImg:after {
  position: absolute;
  display: block;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
  content: 'No Image';
}
.skeleton {
  background-image: none !important;
  &:after {
    display: none;
  }
  .topHeader {
    opacity: 0;
  }
  .footer {
    opacity: 0;
  }
}
.body {
  width: 100%;
  padding-top: 70%;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1.1rem;
  transition: 0.2s;
}
.productPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #333333;
  font-size: 1.9rem;
}
.priceTitle {
  font-size: 1.5rem;
}
.footer {
  width: max-content;
  max-width: 85%;
  padding: 0.7rem 1.1rem;
  color: #fff;
  font-size: 1.6rem;
  background-color: rgba(24, 17, 13, 0.8);
  transition: 0.2s;
}
