.spinner {
  display: inline-block;
  display: flex;
  justify-content: center;
  font-size: 1px;
  vertical-align: middle;
  &:after {
    display: block;
    width: 20em;
    height: 20em;
    border: 2em solid #fff;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
    content: ' ';
  }
}
.dark {
  &:after {
    border: 2em solid $primary;
    border-color: $primary transparent $primary transparent;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
