// 1. This should be a first-line!
@import '~bootstrap/scss/functions';

// 2. Overrides Bootstrap variables.
$font-family-sans-serif: 'FuturaBT-Book', Helvetica, Arial, sans-serif !default;
$primary: #ff6600 !default;
$secondary: #2e2e2e !default;
$danger: #ff482f !default;
$body-color: #2e2e2e !default;
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: currentcolor !default;
$link-hover-decoration: underline !default;
$border-color: darken(#ededed, 15%);

// 3. Custom variables.
$futuraBold: 'FuturaBT-Bold', Helvetica, Arial, sans-serif;
$futuraBook: 'FuturaBT-Book', Helvetica, Arial, sans-serif;
$cardBg: #f9f9f9;

// 4. Loads the rest of Bootstrap's variables.
@import '~bootstrap/scss/variables';
